<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">
  
  <title>Samuel EBM</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

<!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Inicio</a></li>
          <li><a href="./project.html" title="">Proyectos</a></li>
          <li><a href="./about.html" title="">Acerca de M&iacute;</a></li>
          <li><a href="./contact.html" title="">Contacto</a></li>
        </ul>

        <div class="footer-container">
          <p><small>© Samuel Eduardo Benitez Miranda</small></p>
          <p class="footer-share-icons">
              <a href="https://www.facebook.com/samueleduardo.benitezmiranda/" class="fa-icon" title="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.twitter.com/Samuel_Mlranda" class="fa-icon" title="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/samuel-benitez-miranda-328662129/" class="fa-icon" title="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/samuel.miranda_/" class="fa-icon" title="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
          </p>
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

  
<div class="hero-full-container background-image-container white-text-container" style="background-image:url('./static/assets/images/img-08.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content  text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Nutridesk</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Proyecto sobre la nutricion en M&eacute;xico</h3>
                <p>CDMX, M&eacute;xico Junio, 2020</p>
              </div>

              <h4>Cr&eacute;ditos y Equipo</h4>
              
              <ul class="list-unstyled">
                <li>ESCOM</li> 
                <li>Ismael Zavala</li>
                <li>Uriel Cagija</li>
              </ul>

              <a href="https://github.com/MintBoy97/Nutri-Desk" title="">
                Repositorio en Github y documentaci&oacute;n
              </a>
          </div>
          <div class="col-md-8">
            <h3>Nutridesk: El sistema que cuida de ti</h3>
            <p>
              El objetivo de este proyecto es implementar un sistema web de prevenci&oacute;n, capaz de proponer planes de alimentaci&oacute;n y 
              diagn&oacute;sticos de posibles problemas cardiovasculares a cualquier persona adulta.
            </p>
            <p> 
              Desde hace muchos años M&eacute;xico vive una problem&aacute;tica de salud p&uacute;blica muy grave, donde un 39.1% de los adultos mayores
              de 20 años padecen sobrepeso y un 36.1% obesidad, es decir, 3 de cada 4 personas tienen obesidad en el pa&iacute;s. En el &uacute;ltimo
              año 2019 esta tendencia sigui&oacute; aumentando hasta casi un 75.2% . (Datos del INEGI y Sector Salud en diciembre de 2019).
            </p>
            <p> 
              Este proyecto pretende ser una herramienta informativa y de concientizaci&oacute;n para todas aquellas personas que se 
              encuentran en una situación vulnerable, ofreci&eacute;ndoles planes de alimentaci&oacute;n a la medida y detectando posibles padecimientos 
              que puedan afectar en un futuro.
            </p>
          </div>
        </div>

        <img src="./static/assets/images/Nutridesk.png" alt="" class="img-responsive">
        <p>Nutridesk</p>

        <blockquote class="text-center large-spacing">
            <p>En ning&uacute;n momento se pretende reemplazar la labor de un m&eacute;dico, sino servir como auxiliar ante diagn&oacute;sticos
              preliminares.
            </p>
            <small class="pull-right">Equipo Nutridesk</small>
        </blockquote>
        
        <div class="row">
            <div class="col-md-6">
            <img src="./static/assets/images/Dashboard.png" class="img-responsive" alt="">
            <p>Dashboard</p>
            </div>
            <div class="col-md-6">
            <img src="./static/assets/images/Plan.png" class="img-responsive" alt="">
            <p>Plan de Alimentaci&oacute;n</p>
            </div>
        </div>

        <img src="./static/assets/images/About.png" class="img-responsive" alt="">
        <p>P&aacute;gina Principal</p>

      </div>
    </div>

    <img src="./static/assets/images/Shell.jpg" alt="" class="img-responsive">
    <p>Shell de Linux</p>

    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">02</span>MiniShell</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Proyecto l&iacute;nea de comandos de Linux</h3>
                <p>CDMX, M&eacute;xico Junio, 2020</p>
              </div>

              <h4>Informaci&oacute;n</h4>
              
              <ul class="list-unstyled">
                <li>ESCOM</li> 
                <li>Sistemas Operativos</li>
              </ul>
              
              <a href="https://github.com/SamEBM/MiniShell" title="">
                Repositorio en Github y documentaci&oacute;n
              </a>
          </div>
          <div class="col-md-8">
            <h3>MiniShell: Prompt b&aacute;sica para Linux</h3>
            <p>
              El objetivo de este proyecto es diseñar y desarrollar, en lenguaje C y en un sistema operativo basado en UNIX, un sistema
              que funcione como un mini intérprete de comandos (MiniShell). En la realización de este
              sistema, se verán reflejados conocimientos de comunicación entre procesos y de llamadas al
              sistema como fork, exec, pipe, dup, etc.
            </p>
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
            <img src="./static/assets/images/Comandos1.png" class="img-responsive" alt="">
            <p>Comandos b&aacute;sicos</p>
            </div>
            <div class="col-md-6">
            <img src="./static/assets/images/Comandos2.png" class="img-responsive" alt="">
            <p>Comandos complejos</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="" title="" class="project-nav left"><span class="project-number">01</span>Anterior</a>
          </li>
        </ul>
        <p class="h5 navbar-text">Proyectos<i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

        <ul class="navbar-nav nav navbar-right">
          <li>
            <a href="" title="" class="project-nav right"><span class="project-number">03</span>Siguiente </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>